.header {
    width: 47%;
    text-align: center;
    margin: auto;
}

.toolbar {
    height: 50px;
    background-color: rgb(96, 96, 190);
    color: white;
}

.logo {
    height: 100%;   
    margin: auto; 
}