.location {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%
}

.picture {
    max-width: 98%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}